:root {
    --color-dark: #2c3e50;
    --color-location: #3a546d;
    --color-primary: #1abc9c;
    --color-light: #ffffff;
  }

  header{
    background-color: var(--color-dark);
  }

/* #region DEBUG */
  .debug [class^=col]{
    border: 1px solid black ;
  }
  

/* #endregion DEBUG */




/* #region MAIN */

#jumbotron{
  background-color: var(--color-primary);
}
#about{
  background-color: var(--color-primary);
}
#location{
  background-color: var(--color-location);
}
#app_footer_bottom{
  background-color: var(--color-dark);
}
.bgc_btn_send{
  background-color: var(--color-primary);
}

.line_star_jumbo{
  width: 100%;
  height: 4px;
  background-color: var(--color-light);
  border-radius: 50px;
  padding: 0;
  margin: 0;
}